body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, ubuntu;
  background: white;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

input,
button {
  font-family: verdana, ubuntu;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-list {
  min-width: 240px;
  max-width: 380px;
  overflow: auto;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.message-list {
  flex: 1;
  min-width: 140px;
  overflow: auto;
}

.input-area {
  height: 50px;
  background: red;
}

.on-drag-mlist {
  width: 100%;
  height: 100%;
  background-color: #e2f3f5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.rce-example {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rce-example .rce-example-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
  border-bottom: 1px solid rgb(214, 213, 213);
}

.rce-example .rce-example-btn button {
  margin: 0 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  border: none;
}

.rce-example .rce-example-btn button:first-child {
  margin-left: 0;
}

.rce-example .rce-example-btn button:last-child {
  margin-right: 0;
}

.rce-example-component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.rce-mlist {
  height: 70vh;
}
