.rce-container-search-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    padding-right: 5px;
}