.rce-container-mbox {
	flex-direction: column;
	display: block;
	overflow: hidden;
}
.rce-mbox {
	position: relative;
	background: white;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.2);
	border-top-right-radius: 0px;
	margin-right: 20px;
	margin-top: 5px;
	display: inline-block;
	flex-direction: column;
	margin-bottom: 5px;
	padding: 6px 9px 8px 9px;
	float: left;
	min-width: 140px;
	max-width: 70%;
}

.rce-mbox.rce-mbox-right {
	float: right;
}

.rce-mbox-text {
	font-size: 13.6px;
}

.rce-mbox-time {
	text-align: right;
	color: rgba(0,0,0,0.45);
	font-size: 12px;
}

.rce-mbox-right-notch {
	z-index: 1;
	position: absolute;
	right: -14px;
	top: 0px;
	width: 15px;
	height: 15px;
	fill: white;
	filter: drop-shadow( 2px 0px 1px rgba(0,0,0,.2) );
}

.rce-mbox-photo {
	margin-top: -3px;
	margin-right: -6px;
	margin-left: -6px;
}

.rce-mbox-photo .rce-mbox-text {
	padding: 5px 0px;
	max-width: 300px;
	margin: auto;
}

.rce-mbox-photo--img {
	position: relative;
	display: flex;
	overflow: hidden;
	justify-content: center;
	border-radius: 5px;
	max-height: 300px;
}

.rce-mbox-photo--img__block {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	display: flex;
}

.rce-mbox-photo--img img {
	height: 100%;
}

.rce-mbox-photo--img__block-item {
	margin: auto;
	cursor: pointer;
}

.rce-mbox-photo--download {
	color: #efe;
	display: flex;
	justify-content: center;
	background: none;
	border: none;
	font-size: 3.2em;
	outline: none;
	border: 1px solid #eee;
	border-radius: 100%;
	height: 100px;
	width: 100px;
}

.rce-mbox-photo--download:hover {
	opacity: .7;
}

.rce-mbox-photo--download:active {
	opacity: .3;
}