.rce-container-mbox {
	flex-direction: column;
	display: block;
	overflow: hidden;
	min-width: 200px;
}
.rce-mbox {
	position: relative;
	background: white;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.2);
	border-top-left-radius: 0px;
	margin-left: 20px;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
	padding: 6px 9px 8px 9px;
	float: left;
	min-width: 140px;
	max-width: 70%;
}

.rce-mbox.rce-mbox-right {
	float: right;
	margin-left: 0px;
	margin-right: 20px;
	border-top-right-radius: 0px;
	border-top-left-radius: 5px;
}

.rce-mbox-text {
	font-size: 13.6px;
}

.rce-mbox-time {
	text-align: right;
	color: rgba(0,0,0,0.45);
	font-size: 12px;
}

.rce-mbox-right-notch {
	position: absolute;
	right: -14px;
	top: 0px;
	width: 15px;
	height: 15px;
	fill: white;
	filter: drop-shadow( 2px 0px 1px rgba(0,0,0,.2) );
}

.rce-mbox-left-notch {
	position: absolute;
	left: -14px;
	top: 0px;
	width: 15px;
	height: 15px;
	fill: white;
}