.rce-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.rce-navbar.light{
    background: #f4f4f4;    
}

.rce-navbar.dark{
    background: #2f414c;    
}

.rce-navbar.dark .rce-navbar-title{
    color:#f4f4f4;   
}

.rce-navbar-left-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.rce-navbar-center-side{
    text-align: center;
    width: 100%;
}

.rce-navbar-right-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.rce-navbar-title{
    color:#43728e;
    font-size: 15px;
}