.rce-container-input {
    display: flex;
    overflow: hidden;
    min-width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    background: #fff;
    align-items: center;
}

.rce-input {
    flex: 1;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 12px;
    box-sizing: border-box;
    outline: none;
}

.rce-input-buttons {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.rce-input-buttons > * {
    display: flex;
    flex-direction: row;
}

.rce-input-buttons .rce-button {
    margin-left: 5px;
}

.rce-input-nopadding {
    padding-right: 0px !important;
}

.rce-input::placeholder {
    color: #afafaf;
    font-size: 12px;
}