.rce-container-input {
    display: block;
    overflow: hidden;
    min-width: 100%;
    box-sizing: border-box;
}

.rce-input {
    min-width: 100%;
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    transition: box-shadow 0.5s ease;
    color: #919191 !important;
    font-size: 12px !important;
}

.rce-input::-webkit-input-placeholder {
    color: #afafaf !important;
    font-size: 12px !important;
 }
 
 .rce-input:-moz-placeholder {
    color: #afafaf !important;
    font-size: 12px !important;
 }
 
 .rce-input::-moz-placeholder {
    color: #afafaf !important;
    font-size: 12px !important;
 }
 
 .rce-input:-ms-input-placeholder {
    color: #afafaf !important;
    font-size: 12px !important;
 }

 .rce-input:focus {
    outline: none !important;
 }